 /* .swiper-container {
     height: 100vh;
     width: 100%;
 } */
 
 .parallax-window {
     padding-top: 25vh;
     min-height: 75vh;
     background-size: contain;
     color: #ffffff;
 }
 
 .transparent {
     background: transparent;
 }
 
 .swiper-slide {
     display: block;
     width: 100%;
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }
 /*
#aboutus {
    margin-bottom: 7em;
    margin-top: 7em;
}

#contactus {
    padding-bottom: 7em;
    padding-top: 7em;
}*/
 
 .slide1 {
     background-image: url(/images/banners/3d.jpg);
 }
 
 .slide2 {
     background-image: url(/images/banners/o1.jpg);
 }
 
 .slide3 {
     background-image: url(/images/banners/k1.jpg);
 }
 /*
.slide4 {
    background-image: url(/images/banners/banner4.jpg);
}

.slide5 {
    background-image: url(/images/banners/banner5.jpg);
}

.white-links {
    margin-left: 10px;
}

.white-link {
    color: #ffffff;
} */
 /* #myModal {
    background: url(/images/banners/front.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
} */
 /* .modal-fullscreen */
 
 .modal-fullscreen {
     background: transparent;
 }
 
 .modal-fullscreen .modal-content {
     background: transparent;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }
 
 .modal-backdrop.modal-backdrop-fullscreen {
     background: #ffffff;
 }
 
 .modal-backdrop.modal-backdrop-fullscreen.in {
     opacity: .97;
     filter: alpha(opacity=97);
 }
 /* .modal-fullscreen size: we use Bootstrap media query breakpoints */
 
 .modal-fullscreen .modal-dialog {
     margin: 0;
     margin-right: auto;
     margin-left: auto;
     width: 100%;
 }
 
 @media (min-width: 768px) {
     .modal-fullscreen .modal-dialog {
         width: 750px;
     }
 }
 
 @media (min-width: 992px) {
     .modal-fullscreen .modal-dialog {
         width: 970px;
     }
 }
 
 @media (min-width: 1200px) {
     .modal-fullscreen .modal-dialog {
         width: 1170px;
     }
 }
 /* .blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/images/banners/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
}  */




